body {
    background-color: #232230;
    color: white;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    color: white;
}

.profileImage {
    width: 300px;
}

.nav-link {
    border: 0.001px solid #013d3d;
    border-radius: 10px;
}

.about {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    border: 2px solid white; 
    opacity: 0.8; 
    background-color: #2e2e3a; 
    color: white;
}
 
 .btn-dark {
    background-color: #c8529e;
    color: white;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    transform:translateY(-220px);
 }

.yap {
    background-color: #2a2936;
    transform: translateY(-120px);
}

a {
    color: white;
    text-decoration: none;
  }
  
.first { 
    margin-right: 80px;
    margin-top: 60px;
}

.third { 
    margin-left: 80px;
    margin-top: 60px;
}

.contact a {
    font-size: 50px;
    margin-left: 10px;     
}

.watermark{
    margin-top: 20px;
}

.gelodua {
    transform:rotate(180deg) translateY(140px);
}